<%= form_for(@fire) do |f| %>
  <% if @fire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fire.errors.count, "error") %> prohibited this fire from being saved:</h2>

      <ul>
      <% @fire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fire_name %><br />
    <%= f.text_field :fire_name %>
  </div>
  <div class="field">
    <%= f.label :fire_county %><br />
    <%= f.text_field :fire_county %>
  </div>
  <div class="field">
    <%= f.label :fire_address %><br />
    <%= f.text_field :fire_address %>
  </div>
  <div class="field">
    <%= f.label :total_acres_burned %><br />
    <%= f.number_field :total_acres_burned %>
  </div>
  <div class="field">
    <%= f.label :fire_contained %><br />
    <%= f.text_field :fire_contained %>
  </div>
  <div class="field">
    <%= f.label :date_fires_started %><br />
    <%= f.text_field :date_fires_started %>
  </div>
  <div class="field">
    <%= f.label :last_date_fire_updated %><br />
    <%= f.text_field :last_date_fire_updated %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
