<%= form_for(@fire) do |f| %>
  <% if @fire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fire.errors.count, "error") %> prohibited this fire from being saved:</h2>

      <ul>
      <% @fire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :acerage %><br />
    <%= f.number_field :acerage %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :containment %><br />
    <%= f.text_field :containment %>
  </div>
  <div class="field">
    <%= f.label :county_id %><br />
    <%= f.number_field :county_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
