<%= simple_form_for(@fire) do |f| %>
  <% if @fire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fire.errors.count, "error") %> prohibited this fire from being saved:</h2>

      <ul>
      <% @fire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :acerage %>
  <%= f.input :date %>
  <%= f.input :containment %>
  <%= f.input :county_id, collection: County.all %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
