<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span7">
                <div id="map" style="height: 600px;"></div>
            </div>
            <article class="span5">
                    <h1 class="lead">
                        Wildfires continue to strike California; <span id="robo-text"><%= @fires.length %></span> this year
                    </h1>
                    <p class="byline">
                        By <span class="author"><%= Rails.application.class.parent_name %></span class="author"> | Last updated: <time id="robo-text"><%= @fires.first.last_date_fire_updated %></time>
                    </p>
                    <p>
                        Over <span id="robo-text"><%= number_with_delimiter(acres) %></span> acres of land have caught fire this year, according to data released from the California Department of Forestry and Fire Protection. Most recently, a fire happened in <span id="robo-text"><%= @fires.first.fire_county %></span> on <span id="robo-text"><%= @fires.first.date_fires_started %></span>.
                    </p>
                    <p>
                        As of <span id="robo-text"><%= date_of_fire_stats %></span> &mdash; which is the most recent data avaiable &mdash; the United States has had <span id="robo-text"><%= number_with_delimiter(number_of_fires_in_usa_to_date) %></span> fires according to data from the National Climate and Data Center.
                    </p>
                    <p>
                        Of the acres burned from wildfires in the U.S., California has accounted for <span id="robo-text"><%= number_to_percentage((acres.to_f / total_acres_burned_usa_to_date.to_f)*100.0) %></span> of acres burned. To date, the U.S. has had <span id="robo-text"><%=  number_with_delimiter(total_acres_burned_usa_to_date) %></span> acres burned.
                    </p>
            </article>
        </div>
        <table id="fire-table" class="table table-bordered">
            <thead>
                <tr>
                    <th class="hidden-phone">Fire name <i class="icon-sort"></i></th>
                    <th>Fire county <i class="icon-sort"></i></th>
                    <th class="hidden-phone">Fire address <i class="icon-sort"></i></th>
                    <th>Acres burned <i class="icon-sort"></i></th>
                    <th>Containment <i class="icon-sort"></i></th>
                    <th>Date started <i class="icon-sort"></i></th>
                    <th class="hidden-phone">Last date updated <i class="icon-sort"></i></th>
                </tr>
            </thead>

            <tbody>
            <% @fires.each do |fire| %>
                <% not_available = "Information not available" %>
                <tr>
                    <td class="hidden-phone"><i class="icon-fire"></i> <%= fire.fire_name %></td>
                    <td><%= fire.fire_county %></td>
                    <td class="hidden-phone"><%= fire.fire_address %></td>
                    <td><%= fire.total_acres_burned == 0 ? not_available : number_with_delimiter(fire.total_acres_burned) %></td>
                    <td><%= fire.fire_contained %></td>
                    <td><%= fire.date_fires_started %></td>
                    <td class="hidden-phone"><%= fire.last_date_fire_updated %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>