<div class="row">
    <div class="span12">
        <br><br>
        <% acres = [] %>
        <% @fires.each do |fire| %>
            <% acres << fire.total_acres_burned %>
        <% end %>
        <div class="hero-unit">
            <h1>Wildfires have burned <%= number_with_delimiter(acres.inject(:+)) %> acres of land in California this year.</h1>
        </div>
        <table class="table">
          <tr>
            <th>Fire name</th>
            <th>Fire county</th>
            <th>Fire address</th>
            <th>Total acres burned</th>
            <th>Fire contained</th>
            <th>Date fires started</th>
            <th>Last date fire updated</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>

        <% @fires.each do |fire| %>
          <% not_available = "Information not available" %>
          <tr>
            <td><i class="icon-fire"></i> <%= fire.fire_name %></td>
            <td><%= fire.fire_county %></td>
            <td><%= fire.fire_address %></td>
            <td><%= fire.total_acres_burned == 0 ? not_available : number_with_delimiter(fire.total_acres_burned) %></td>
            <td><%= fire.fire_contained %></td>
            <td><%= fire.date_fires_started %></td>
            <td><%= fire.last_date_fire_updated %></td>
          </tr>
        <% end %>
        </table>
    </div>
</div>
