<div class="row">
    <div class="span12">
        <br><br>
        <% acres = [] %>
        <% @fires.each do |fire| %>
            <% acres << fire.total_acres_burned %>
        <% end %>
        <div class="hero-unit">
            <h1><em>Major</em> wildfires have burned <%= number_with_delimiter(acres.inject(:+)) %> acres of land in California this year.</h1>
        </div>






        <table class="table">
          <tr>
            <th>Fire name</th>
            <th>Fire county</th>
            <th>Fire address</th>
            <th>Total acres burned</th>
            <th>Fire contained</th>
            <th>Date fires started</th>
            <th>Last date fire updated</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>

        <% @fires.each do |fire| %>
          <% not_available = "Information not available" %>
          <tr>
            <td><i class="icon-fire"></i> <%= fire.fire_name %></td>
            <td><%= fire.fire_county %></td>
            <td><%= fire.fire_address %></td>
            <td><%= fire.total_acres_burned == 0 ? not_available : number_with_delimiter(fire.total_acres_burned) %></td>
            <td><%= fire.fire_contained %></td>
            <td><%= fire.date_fires_started %></td>
            <td><%= fire.last_date_fire_updated %></td>
          </tr>
        <% end %>
        </table>
    </div>
</div>
<!--
##### Fix This #####
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="map" style="height: 200px; width: 300px;"></div>
<script type="text/javascript">
    var map = L.map('map').setView([51.505, -0.09], 13);
    L.tileLayer('http://{s}.tile.cloudmade.com/0064577453aa486d98cec7f0ef57578f/997/256/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
        maxZoom: 18
    }).addTo(map);
</script>

#################

-->