<p id="notice"><%= notice %></p>

<p>
  <b>Fire name:</b>
  <%= @fire.fire_name %>
</p>

<p>
  <b>Fire county:</b>
  <%= @fire.fire_county %>
</p>

<p>
  <b>Fire address:</b>
  <%= @fire.fire_address %>
</p>

<p>
  <b>Total acres burned:</b>
  <%= @fire.total_acres_burned %>
</p>

<p>
  <b>Fire contained:</b>
  <%= @fire.fire_contained %>
</p>

<p>
  <b>Date fires started:</b>
  <%= @fire.date_fires_started %>
</p>

<p>
  <b>Last date fire updated:</b>
  <%= @fire.last_date_fire_updated %>
</p>


<%= link_to 'Edit', edit_fire_path(@fire) %> |
<%= link_to 'Back', fires_path %>
