<div class="row">
  <div class="span8 offset2">
    <object data="Flag_of_California.svg" type="image/svg+xml">
      <%= image_tag("Flag_of_California.svg.png") %>
    </object>
    <div class="page-header">
      <h1><span id="app-name">FireScraper &mdash;</span> <small>California has had <%= total_fires_ignited %> fires in <%= @counties.count %> counties since <%= @counties.last.fires.last.date %>. View the fires by county below.</small></h1>
    </div>
    <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>County</th>
            <th>Number of Fires</th>
            <th>Most recent Fire</th>
          </tr>
        </thead>

  <% @counties.each do |county| %>
        <tbody>
          <tr>
            <td><h3 class="fire-link"><%= link_to county.name, county %></h3></td>
            <td><%= county.fires.count %></td>
            <td><%= county.fires.first.date %></td>
          </tr>
        </tbody>
  <% end %>
    </table>
  </div><!-- /.span8 -->
</div><!-- /.row -->