<div class="row">
    <div id="scrollSpy" class="span4" data-spy="#affix" data-offset-top="20">
        <div class="page-header">
          <h1><%= @county.name %></h1>
        </div>
        <h3><%= @county.fires.count %> Fire(s)</h3>
        <p id="notice"><%= notice %></p>
        <script type="text/javascript">
          jQuery(document).ready(function($) {

            // Map Setup
            var layer = new L.StamenTileLayer("terrain")
            var map = new L.map('map', {
              center: new L.LatLng(<%= @county.latitude %>, <%= @county.longitude %>),
              zoom: 7,
              scrollWheelZoom: false,
              touchZoom: false,
              doubleClickZoom: false,
              zoomControl: false,
              dragging: false,
            });
            map.addLayer(layer)

            // Adding Stamen attribution
            poweredByStamen = new L.Control.Attribution
            poweredByStamen.addAttribution("Map tiles by <a href='http://stamen.com'>Stamen Design</a>, under <a href='http://creativecommons.org/licenses/by/3.0'>CC BY 3.0</a>. Data by <a href='http://openstreetmap.org'>OpenStreetMap</a>, under <a href='http://creativecommons.org/licenses/by-sa/3.0'>CC BY SA</a>.")
            map.addControl(poweredByStamen)

            // Demo GeoJSON
            var geojsonFeature = {
              "type": "Feature",
              "properties": {
                "name": "<%= @county.name %>",
                "popupContent": "<%= @county.name %>has had <%= @county.fires.count %> fires."
              },
              "geometry": {
                "type": "Point",
                "coordinates": [<%= @county.latitude %>, <%= @county.longitude %>]
              }
            };

            // L.geoJson(boundaries).addTo(map)

            // Hack until i fix Leaflet attribution
            $(".leaflet-control-attribution.leaflet-control")[1].remove();


            // Bootstrap Affix
            // http://twitter.github.com/bootstrap/javascript.html#affix
            $("#navbar").affix()






          });
        </script>
        <div id="map"></div>
        <h4>More information:</h4>
        <ul class="unstyled">
          <li class="text-info">Total Acres Burned: <strong><%= total_acres_burned %></strong> </li>
          <li class="text-info"></li>
          <li class="text-info">Latitude: <strong><%= @county.latitude %></strong></li>
          <li class="text-info">Longitude: <strong><%= @county.longitude %></strong></li>
        </ul>
    </div>

    <div class="span8">
        <% if @county.fires.any? %>
          <h3><%= @county.fires.count %> Fire(s)</h3>
          <table class="table table-bordered table-condensed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Acres burned</th>
                  <th>Date started</th>
                  <th>Containment</th>
                </tr>
              </thead>

        <% @county.fires.each do |fire| %>
              <tbody>
                <tr>
                  <td><%= link_to fire.name, fire %></td>
                  <td><%= number_with_delimiter(fire.acreage) %></td>
                  <td><%= fire.date %></td>
                  <td><%= fire.containment %></td>
                </tr>
              </tbody>
        <% end %>
          </table>
        <% else %>
          <div class="alert">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Warning!</strong> Best check yo self, you're not looking too good.
          </div>
        <% end %>
    </div>
</div>