<div class="row">
    <div class="span4">
        <div class="page-header">
            <h1><%= @county.name %></h1>
            <h3><%= @county.fires.count %> Fire(s)</h3>
            <p id="notice"><%= notice %></p>
            <script type="text/javascript">
              jQuery(document).ready(function($) {
                var layer = new L.StamenTileLayer("terrain")
                var map = new L.map('map', {
                  center: new L.LatLng(36.8, -119.4),
                  zoom: 5
                });
                map.addLayer(layer)
              });
            </script>
            <div id="map"></div>
        </div>
    </div>

    <div class="span8">
        <% if @county.fires.any? %>
          <h3><%= @county.fires.count %> Fire(s)</h3>
          <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Acres burned</th>
                  <th>Date started</th>
                  <th>Containment</th>
                </tr>
              </thead>

        <% @county.fires.each do |fire| %>
              <tbody>
                <tr>
                  <td><%= link_to fire.name, fire %></td>
                  <td><%= number_with_delimiter(fire.acreage) %></td>
                  <td><%= fire.date %></td>
                  <td><%= fire.containment %></td>
                </tr>
              </tbody>
        <% end %>
          </table>
          <% else %>
          <div class="alert">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Warning!</strong> Best check yo self, you're not looking too good.
          </div>

        <% end %>
    </div>
</div>