<div class="row">
    <div class="span4">
        <div class="page-header">
            <h1><%= @county.name %></h1>
            <h3><%= @county.fires.count %> Fire(s)</h3>
            <p id="notice"><%= notice %></p>
            <script type="text/javascript">
              jQuery(document).ready(function($) {
                var layer = new L.StamenTileLayer("terrain")
                var map = new L.map('map', {
                  center: new L.LatLng(<%= @county.latitude %>, <%= @county.longitude %>),
                  zoom: 7
                });
                map.addLayer(layer)

                var geojsonFeature = {
                  "type": "Feature",
                  "properties": {
                    "name": "<%= @county.name %>",
                    "popupContent": "<%= @county.name %>has had <%= @county.fires.count %> fires."
                  },
                  "geometry": {
                    "type": "Point",
                    "coordinates": [<%= @county.latitude %>, <%= @county.longitude %>]
                  }
                };

                L.geoJson(geojsonFeature).addTo(map);
              });
            </script>
            <div id="map"></div>
            <p>Latitude: <%= @county.latitude %></p>
            <p>Longitude: <%= @county.longitude %></p>
        </div>
    </div>

    <div class="span8">
        <% if @county.fires.any? %>
          <h3><%= @county.fires.count %> Fire(s)</h3>
          <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Acres burned</th>
                  <th>Date started</th>
                  <th>Containment</th>
                </tr>
              </thead>

        <% @county.fires.each do |fire| %>
              <tbody>
                <tr>
                  <td><%= link_to fire.name, fire %></td>
                  <td><%= number_with_delimiter(fire.acreage) %></td>
                  <td><%= fire.date %></td>
                  <td><%= fire.containment %></td>
                </tr>
              </tbody>
        <% end %>
          </table>
          <% else %>
          <div class="alert">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Warning!</strong> Best check yo self, you're not looking too good.
          </div>

        <% end %>
    </div>
</div>