<div class="row">
    <div class="span4">
        <div class="page-header">
            <h1><%= @county.name %></h1>
            <h3><%= @county.fires.count %> Fire(s)</h3>
            <p id="notice"><%= notice %></p>
            <script type="text/javascript">
              jQuery(document).ready(function($) {
                var layer = new L.StamenTileLayer("terrain")
                var map = new L.map('map', {
                  center: new L.LatLng(<%= @county.latitude %>, <%= @county.longitude %>),
                  zoom: 7,
                  scrollWheelZoom: false,
                  touchZoom: false,
                  doubleClickZoom: false,
                  zoomControl: true,
                  dragging: true,
                });
                map.addLayer(layer)

                poweredByStamen = new L.Control.Attribution
                poweredByStamen.addAttribution("Map tiles by <a href='http://stamen.com'>Stamen Design</a>, under <a href='http://creativecommons.org/licenses/by/3.0'>CC BY 3.0</a>. Data by <a href='http://openstreetmap.org'>OpenStreetMap</a>, under <a href='http://creativecommons.org/licenses/by-sa/3.0'>CC BY SA</a>.")
                map.addControl(poweredByStamen)

                var geojsonFeature = {
                  "type": "Feature",
                  "properties": {
                    "name": "<%= @county.name %>",
                    "popupContent": "<%= @county.name %>has had <%= @county.fires.count %> fires."
                  },
                  "geometry": {
                    "type": "Point",
                    "coordinates": [<%= @county.latitude %>, <%= @county.longitude %>]
                  }
                };

                L.geoJson(geojsonFeature).addTo(map);

                // Hack until i fix Leaflet attribution
                $(".leaflet-control-attribution.leaflet-control")[1].remove();
              });
            </script>
            <div id="map"></div>
            <h4>More information:</h4>
            <ul class="unstyled">
              <li class="text-info">Total Acres Burned: <strong><%= total_acres_burned %></strong> </li>
              <li class="text-info"></li>
              <li class="text-info">Latitude: <strong><%= @county.latitude %></strong></li>
              <li class="text-info">Longitude: <strong><%= @county.longitude %></strong></li>
            </ul>
        </div>
    </div>

    <div class="span8">
        <% if @county.fires.any? %>
          <h3><%= @county.fires.count %> Fire(s)</h3>
          <table class="table table-bordered table-condensed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Acres burned</th>
                  <th>Date started</th>
                  <th>Containment</th>
                </tr>
              </thead>

        <% @county.fires.each do |fire| %>
              <tbody>
                <tr>
                  <td><%= link_to fire.name, fire %></td>
                  <td><%= number_with_delimiter(fire.acreage) %></td>
                  <td><%= fire.date %></td>
                  <td><%= fire.containment %></td>
                </tr>
              </tbody>
        <% end %>
          </table>
        <% else %>
          <div class="alert">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Warning!</strong> Best check yo self, you're not looking too good.
          </div>
        <% end %>
    </div>
</div>