<div class="row">
    <div class="four columns">
        <div class="page-header">
          <h2><%= @county.name %> County</h2>
        </div>
        <p id="notice"><%= notice %></p>
        <script type="text/javascript">
          jQuery(document).ready(function($) {

            // Map Setup
            //var layer = new L.StamenTileLayer("terrain")
            var map = new L.map('map', {
              center: new L.LatLng(<%= @county.latitude %>, <%= @county.longitude %>),
              zoom: 7,
              scrollWheelZoom: false,
              touchZoom: false,
              doubleClickZoom: false,
              zoomControl: false,
              dragging: false
            });
            //map.addLayer(layer)

            L.tileLayer('http://{s}.tile.stamen.com/terrain/{z}/{x}/{y}.png', {
                attribution: "Map tiles by <a href='http://stamen.com'>Stamen Design</a>, under <a href='http://creativecommons.org/licenses/by/3.0'>CC BY 3.0</a>. Data by <a href='http://openstreetmap.org'>OpenStreetMap</a>, under <a href='http://creativecommons.org/licenses/by-sa/3.0'>CC BY SA</a>.",
                maxZoom: 18
            }).addTo(map);

            // GeoJSON
            // http://stackoverflow.com/a/8585115/868724
            var i = boundaries.features.length;
            while( i-- ) {
                if( boundaries.features[i].properties.NAME === '<%= @county.name %>' ) break;
            }
            L.geoJson(boundaries.features[i], {style:style}).addTo(map);
            console.log(boundaries.features[i].properties.NAME)// will be -1 if no match was found

            function style(feature) {
                return {
                    fillColor: '#b71234',
                    weight: 2,
                    opacity: 1,
                    color: 'white',
                    dashArray: '3',
                    fillOpacity: 0.4
                };
            }
          });
        </script>
        <div id="map"></div>
        <h4>More information:</h4>
        <ul class="unstyled">
          <li class="text-info">Total Acres Burned: <strong><%= total_acres_burned %></strong> </li>
          <li class="text-info"></li>
          <li class="text-info">Latitude: <strong><%= @county.latitude %></strong></li>
          <li class="text-info">Longitude: <strong><%= @county.longitude %></strong></li>
        </ul>
    </div>

    <div class="eight columns">
      <h3><%= @county.fires.count %> fires | <%= total_acres_burned %> acres burned since <%= @county.fires.last.date %></h3>
    </div>
    <table id="show-table" class="eight columns">
        <% if @county.fires.any? %>
              <thead>
                <tr>
                  <th>Name <i class="icon-caret-down"></i></th>
                  <th>Acres burned <i class="icon-caret-down"></i></th>
                  <th>Date started <i class="icon-caret-down"></i></th>
                  <th>Containment <i class="icon-caret-down"></i></th>
                </tr>
              </thead>
              <tbody>
                <% @county.fires.each do |fire| %>
                  <tr>
                    <td><%= fire.name %></td>
                    <td><%= number_with_delimiter(fire.acreage) %></td>
                    <td><%= fire.date %></td>
                    <td><%= fire.containment %></td>
                  </tr>
                <% end %>
              </tbody>
        <% else %>
          <div class="alert">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Warning!</strong> Best check yo self, you're not looking too good.
          </div>
        <% end %>
    </table>
</div>