<!DOCTYPE html>
<html>
<head>
  <title>FireScraper: <%= Rails.env %></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
  <![endif]-->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' %>
  <%= javascript_include_tag "application" %>
  <!-- Stamen Maps -->
  <%= javascript_include_tag "//maps.stamen.com/js/tile.stamen.js?v1.1.3" %>
  <!-- Leafelt -->
  <%= javascript_include_tag "//cdn.leafletjs.com/leaflet-0.4/leaflet.js" %>
  <!-- GeoJSON -->
  <!-- <%= javascript_include_tag "//dl.dropbox.com/u/127788/califire.json" %> -->
  <%= javascript_include_tag "cali.json" %>
  <%= csrf_meta_tags %>
  <noscript>
    For full functionality of this site it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com/" target="_blank">instructions how to enable JavaScript in your web browser</a>.
  </noscript>
</head>
<body>
    <div class="container">
        <%= yield %>
    </div>
    <footer>
        <div class="container">
            <div class="row">
              <div class="span8 offset2">
                <small>Built by @aboutaaron | Data from <a href="#" title="CAL-FIRE Website">CAL-FIRE</a></small>
                <!-- Environment: <%= Rails.env %> -->
              </div>
              </div>
            </div>
        </div>
    </footer>
</body>
</html>
