<!DOCTYPE html>
<html>
<head>
  <title>FireScraper</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div id="logo">
            <i class="icon-fire icon-white"></i>
            <%= link_to "FireScraper: #{Rails.env}", '#', class: "brand" %>
          </div>
          <nav>
            <ul class="nav pull-right">
              <li>
                  <a href="https://twitter.com/CALFIRERRU" class="twitter-follow-button" data-show-count="true">Follow @CALFIRERRU</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="container">
        <%= yield %>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h4>About this information</h4>
                </div>
                <div class="span4">
                    <p>The California Department of Forestry and Fire Protection (CAL FIRE) responds to all types of emergencies. When the Department responds to a major CAL FIRE jurisdiction incident with one of its <a href="http://cdfdata.fire.ca.gov/incidents/incidents_terminology?filter=major+incident+command&submit=Search">Major Incident Command Teams (MICT)</a> the Department will create a web site. Major emergency incidents could include large, extended-day fires, floods, earthquakes, hazardous material spills, etc.</p>
                </div>
                <div class="span4">
                    <p>On this site we will post general information concerning an incident. All of our information comes from the firelines and must be approved by the Incident Commander in charge of managing the incident prior to release. As battling a fire, or handling any other disaster is the priority, updates to these sites cannot be guaranteed on a set time schedule. Please use the information on these pages only as a reference. The sites are not meant to provide up to the minute evacuation or fire behavior information. Please refer to the fire information phone numbers provided on this site, and website links for additional information, and monitor your local radio stations for emergency broadcasts. If you live in a wildland area always have an evacuation plan in place.</p>
                </div>
                <div class="span4">
                    <p>Fires occur throughout the State within CAL FIRE jurisdiction on a daily basis during fire season. However, the majority of those fires are contained quickly and no information will be provided on these incidents at this site. If you would like to obtain information about a CAL FIRE fire burning in your area that is not included on this web site, please contact the CAL FIRE Unit that falls within your county as listed in the <a href="http://www.fire.ca.gov/about/contacts/">CAL FIRE Facilities Directory.</a></p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
