<!DOCTYPE html>
<html>
<head>
  <title>FireScraper: <%= Rails.env %></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
  <![endif]-->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <%= javascript_include_tag "application" %>
  <!-- Leafelt -->
  <%= javascript_include_tag "//cdn.leafletjs.com/leaflet-0.4/leaflet.js" %>
  <!-- GeoJSON for individual pages -->
  <%= javascript_include_tag "cali.json" %>
  <%= csrf_meta_tags %>
  <noscript>
    For full functionality of this site it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com/" target="_blank">instructions how to enable JavaScript in your web browser</a>.
  </noscript>
</head>
<body>
  <nav class="container nav-bar home-border">
    <h1 class="header">
      <%= link_to Rails.application.class.parent_name, "/" %>
    </h1>
  </nav>
  <%= yield %>
  <footer>
      <div class="container">
          <div class="row">
              <p>Built by <a href="http://twitter.com/aboutaaron">@aboutaaron</a> | Data from <a href="http://cdfdata.fire.ca.gov/incidents/incidents_current" title="CAL-FIRE Website">CAL-FIRE</a></p>
            </div>
          </div>
      </div>
  </footer>
  <div id="myModal" class="reveal-modal large">
    <h2>Awesome. I have it.</h2>
    <p class="lead">Your couch.  It is mine.</p>
    <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <!-- Environment: <%= Rails.env %> -->
</body>
</html>